html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, rgba(255, 218, 185, 1) 0%, rgba(248, 173, 157, 1) 100%);
    transition: background-color 2s ease;
}

header {
    height: 33.33%;
    position: relative;
}

main {
    height: 66.66%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    position: absolute;
    top: 20%;
    right: 50%;
    transform: translateX(50%);
    font-size: 5em;
    border-bottom: 5px solid #f08080;
    border-image: linear-gradient(90deg, rgb(252, 129, 129) 0%, rgb(252, 205, 179) 100%);
    border-image-slice: 1;
}

.secret {
    height: 5rem;
    width: 5rem;
    text-align: center;
    font-size: 4em;
    position: absolute;
    top: 90%;
    right: 50%;
    transform: translateX(50%);
    background-color: #f8ad9d;
    border-radius: 20px;
}

.range {
    position: absolute;
    top: 2rem;
    left: 85%;
    text-align: center;
    font-size: larger;
}



.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.user--input:focus {
    outline: none;
}

.user--input {
    font-family: 'Roboto', sans-serif;
    background: none;
    width: 15rem;
    height: 8rem;
    font-size: 5rem;
    border: 12px solid #f4978e;
    border-radius: 10px;
    text-align: center;


}


.btn {
    font-family: 'Roboto', sans-serif;
    background-color: #fbc4ab;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f8ad9d;
}

.btn:active {
    background-color: #f4978e;
}

.btn--replay {
    position: absolute;
    top: 3rem;
    right: 85%;
    width: 6em;
    height: 2em;
    font-size: 1.5em;
}

.btn--check {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    padding: 1rem 2rem;
}

.btn--check:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.right {
    font-size: 2rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.victory {
    background: linear-gradient(180deg, rgba(243, 255, 185, 1) 0%, rgba(157, 248, 158, 1) 100%);
}

.btn--victory {
    background-color: #85ec81
}

.btn--victory:hover {
    background-color: #64c861
}

.btn--victory:active {
    background-color: #49a745
}

.input--victory {
    border: 12px solid #64c861
}

.secret--victory {
    background-color: #64c861;
}

.victory--h1 {
    border-bottom: 5px solid #49a745;
    border-image: linear-gradient(90deg, rgb(84, 206, 80) 0%, rgb(174, 236, 181) 100%);
    border-image-slice: 1;
}